<button (click)="plus()" style="display: block">send</button>
<button (click)="changeSizeofSecondChild()" style="display: block">changeSize</button>
<button (click)="moveofSecondChild()" style="display: block">move</button>

<div *ngFor="let item of array" style="position:absolute;font-size: 20px;border: 1px solid red;display: inline-flex;margin: 10px;
align-items: center;justify-content: center"
     [style.width.px]="item.width"
     [style.height.px]="item.height"
     [style.left.px]="item.left"
     [style.top.px]="item.top"

>
  {{ item.component }}
</div>
